<!DOCTYPE html>
<!--Phan Thị Hà_PTIT-->
<html>
<head>
    <title>Thêm sinh viên</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" width="100">
    <h1>Thêm sinh viên mới</h1>
    <form method="POST">
        Tên: <input type="text" name="name" required><br><br>
        Tuổi: <input type="number" name="age" required><br><br>
        <button type="submit">Lưu</button>
    </form>
    <br>
    <a href="/">⬅ Quay lại</a>
</body>
</html>