<!DOCTYPE html>
<html>
<head>
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='prd.jpg') }}" alt="prd" width="100">
    <h1>Danh sách sản phẩm</h1>

    <table>
        <tr><th>id</th><th>name</th></tr>
        {% for p in products %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>
                <a href = "{{url_for('view_product',id = p.id)}}"> Xem Chi Tiết </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
   <a href="{{ url_for('add_product') }}">➕ Thêm sản phẩm</a>
   <a href = "/" > Danh sách sinh viên</a>
    
</body>
</html>